@keyframes module_fadeln{
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes login__inline{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes MenuMobi{
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  